#single-header {
  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

#single-header h1 {
  font-size: 1.6rem;
  letter-spacing: 0.48rem;
}

#single-header h1 strong {
  color: #f32327;
}
