#home-header {
  position: relative;
  width: 100%;
}

#home-header .background-square{
  position: absolute;
  z-index: 0;
  height: 320px;
  width: 100%;
  top: 0;
  left: 0;
  background: #02100F;
}

#home-header #countdown-container{
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
}

#home-header .cars-image {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

#home-header .countdown {
  position: relative;
  z-index: 20;
  text-align: center;
  margin-top: 56px;
}

#home-header .countdown h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #D14200;
}

#home-header .countdown h2 img{
  margin-right: 16px;
}

#home-header #logo-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 16px;
}

#home-header #logo-container .logo{
  width: 180px;
}

#home-header #logo-container .logo img{
  width: 100%;
}

#home-header #logo-container .online {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-bottom: 16px;
  font-weight: bold;
  color: #D14200;
}

#home-header #logo-container .online img {
  margin-right: 6px;
}

@media screen and (max-width: 1000px) {
    
  #home-header .background-square{
    height: 45%;
  }
  
  #home-header .cars-image {
    width: 80%;
    top: 50%;
  }
  
  #home-header .countdown h2{
    font-size: 16px;
  }
  
  #home-header .countdown h2 img{
    margin-right: 12px;
    width: 20px;
  }
  
  #home-header #logo-container {
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
  }
  
  #home-header #logo-container .logo{
    width: 150px;
  }
  
  #home-header #logo-container .online {
    margin: 16px 0;
  }
}

@media screen and (max-width: 500px) {

  
  #home-header #logo-container {
    margin-top: 0px;
  }
  
  #home-header .background-square {
    height: 318px;
  }
  
  #home-header .cars-image {
    width: 110%;
    top: 69%;
  }

}