#optionals {
  padding-top: 80px;
  padding-bottom: 72px;
  background: #051615;
}

#optionals h2{
  color: #00FFA0;
  font-size: 24px;
}

#optionals .itens{
  width: calc(100% + 32px);
  margin: 0 -16px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#optionals .itens .item{
  width: calc(25% - 32px);
  height: 30px;
  margin: 2px 16px;
  display: flex;
  align-items: center;
}

#optionals .itens .item::before{
  display: block;
  content: ' ';
  width: 4px;
  height: 4px;
  background: #00FFA0;
  border-radius: 2px;
  margin-right: 10px;
}

#optionals .itens .item p{
  font-size: 16px;
  line-height: 1;
  color: #216762;
}


@media screen and (max-width: 1000px) {
  #optionals {
    /* width: 90%; */
    padding: 64px 0;
  }
  
  #optionals h2{
    text-align: center;
  }
  
  #optionals .itens{
    width: 100%;
    margin: 0;
    margin-top: 36px;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  #optionals .itens .item{
    width: 100%;
    height: 30px;
    margin: 0 16px;
    display: flex;
    align-items: center;
  }
  
  #optionals .itens .item::before{
    display: block;
    content: ' ';
    width: 4px;
    height: 4px;
    background: #FF6100;
    border-radius: 2px;
    margin-right: 10px;
  }
  
  #optionals .itens .item p{
    font-size: 16px;
    color: #929292;
  }
}