#countdown-itens {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

#countdown-itens .item {
  margin: 0 32px;
}

#countdown-itens .item h3 {
  font-size: 96px;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  line-height: 80px;
}

#countdown-itens .item p {
  color: #74F0FF;
  font-weight: bold;
}