#home-header {
  position: relative;
  width: 100%;
  overflow-y: visible;
  /* overflow-x: hidden; */
  position: relative;
}

#home-header .black-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 100%;
  background: #1A0D06;
  position: relative;
  z-index: 1;
}

#home-header #countdown-container {
  display: flex;
  align-items: center;
  padding: 92px 0;
}

#home-header #countdown-container .header-background{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 0;
  width: 145%;
}

#home-header #countdown-container .title{
  width: calc(50% - 32px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
}

#home-header #countdown-container .countdown {
  width: calc(50% - 32px);
  margin-left: auto;
  position: relative;
  z-index: 1;
}

#home-header #countdown-container .countdown h2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #6D605A;
  text-transform: uppercase;
  font: bold 48px 'Bebas Neue', sans-serif;
}

#home-header #countdown-container .countdown h2 img{
  margin-right: 13px;
  transform: translateY(-5px);
}

#home-header #countdown-container .safety-info{
  height: 72px;
  padding-left: 23px;
  border-left: 2px solid #F17B00;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-header #countdown-container .safety-info .top{
  font-size: 16px;
  font-weight: 900;
  color: #6D605A;
  margin: 0;
}

#home-header #countdown-container .safety-info .bot{
  font-size: 16px;
  font-weight: 900;
  color: #F17B00;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  margin-top: 4px;
}

#home-header #countdown-container .safety-info .bot img{
  margin-right: 6px;
  transform: translateY(-2px);
}