#site-content {
  width: 100%;
  overflow-x: hidden;
}

#site-content .interval-container{
  width: 85%;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#site-content .interval-container h2{
  font-size: 40px;
  color: #1A0D06;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: 'Bebas Neue', sans-serif;
}

#site-content .interval-container p{
  font-size: 40px;
  color: #FF3400;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-family: 'Bebas Neue', sans-serif;
}

#cars-container {
  width: 85%;
  max-width: 1180px;
  margin: 0 auto;
  margin-top: 24px;
  position: relative;
  z-index: 1;
}

#cars-container .list{
  width: calc(100% + 16px);
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
}

#cars-container .list .item {
  width: calc(33.3333% - 16px);
  margin: 0 8px;
  margin-bottom: 32px;
}


@media screen and (max-width: 1000px) {
  #cars-container {
    margin-top: 0;
    width: 90%;
  }
  
  #cars-container .list .item {
    width: calc(50% - 16px);
  }

  #site-content .interval-container{
    flex-direction: column;
    text-align: center;
    margin-bottom: 16px;
  }

  #site-content .interval-container h2{
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  #cars-container .list{
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #cars-container .list .item {
    width: 100%;
    margin: 0;
    margin-bottom: 32px;
  }
}