#site-content {
  width: 100%;
  overflow-x: hidden;
}

#cars-container {
  margin: 4rem auto;
  margin-top: 5.6rem;
  position: relative;
  z-index: 1;
}

#cars-container .list {
  width: calc(100% + 1.6rem);
  margin: 0 -0.8rem;
  display: flex;
  flex-wrap: wrap;
}

#cars-container .list .item {
  width: calc(33.3333% - 1.6rem);
  margin: 0 0.8rem;
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 1000px) {
  #cars-container {
    margin-top: 0;
    width: 90%;
  }

  #cars-container .list .item {
    width: calc(50% - 1.6rem);
  }
}

@media screen and (max-width: 600px) {
  #cars-container .list {
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #cars-container .list .item {
    width: 100%;
    margin: 0;
    margin-bottom: 3.2rem;
  }
}
