#car-details {
  padding-top: 32px;
  padding-bottom: 56px;
}

#car-details .container {
  display: flex;
  flex-direction: row;
}

#car-details main{
  width: 50%;
}

#car-details aside{
  width: calc(50% - 16px);
  margin-left: 16px;
}

@media screen and (max-width: 1000px) {
  
  #car-details main{
    width: 100%;
  }
  
  #car-details aside{
    display: none;
  }
}