#car-details {
  padding: 80px 0;
}

#car-details .container {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  width: 85%;
  flex-direction: row;
}

#car-details main{
  width: 50%;
}

#car-details aside{
  width: calc(50% - 16px);
  margin-left: 16px;
}

@media screen and (max-width: 1000px) {
  #car-details {
    padding: 20px 0;
  }
  
  #car-details .container {
    width: 90%;
  }
  
  #car-details main{
    width: 100%;
  }
  
  #car-details aside{
    display: none;
  }
}