.digits-container {
  margin-top: 20px;
}
.digits-container .digits {
  display: flex;
  flex-direction: row;
}

.digits-container .digits .digit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.digits-container .digits .digit.right {
  transform: translateX(-10px);
}

.digits-container .digits .digit img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.digits-container .digits .digit p{
  position: relative;
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  color: #fff;
  transform: translateY(-5px);
}

.digits-container .subtext{
  font-size: 16px;
  color: #8D5648;
  line-height: 21px;
  margin-top: 4px;
}

@media screen and (max-width: 1000px) {  
  .digits-container {
    margin-top: 8px;
  }
  .digits-container .digits .digit {
    padding: 4px 8px;
  }
  .digits-container .digits .digit.right {
    transform: translateX(-4px);
  }
  .digits-container .digits .digit p{
    font-size: 46px;
    line-height: 60px;
    transform: translateY(-2px);
  }
}
