footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  background: #1A0D06;
}

footer p{
  color: #FFA52E;
  font-size: 16px;
  font-style: italic;
}