#section-break {
  margin-top: 16px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

#section-break .text-left {
  color: #00FFA0;
  font-size: 20px;
  line-height: 1.2;
  max-width: 617px;
}

#section-break .text-left strong {
  color: #fff;
}

#section-break .box-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 421px;
  margin-left: auto;
}

#section-break .box-content .box {
  padding-left: 15px;
  padding-right: 30px;
  height: 70px;
  display: flex;
  align-items: center;
  background: #003632;
  border-radius: 9px;
}

#section-break .box-content .box:first-of-type {
  margin-right: 8px;
}

#section-break .box-content .box .text {
  margin-left: 10px;
}

#section-break .box-content .box .text p {
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #fff;
  line-height: 1.2;
  font-weight: bold;
}

#section-break .box-content .box .text .low {
  font-size: 12px;
  letter-spacing: 0;
}


@media screen and (max-width: 1000px) {
  #section-break {
    margin-top: 0;
    flex-direction: column;
  }
  
  #section-break .text-left {
    font-size: 16px;
    width: 540px;
    max-width: 100%;
    text-align: center;
  }
  
  #section-break .box-content {
    width: max-content;
    max-width: 100%;
    margin: 24px auto;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
    background: #003632;
    padding: 12px;
    padding-left: 8px;
    padding-right: 16px;
  }
  
  #section-break .box-content .box {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    border-radius: 0;
  }

  #section-break .box-content .box:first-of-type {
    margin-right: 16px;
  }

  #section-break .box-content .box .text {
    margin-left: 2px;
  }
  
  #section-break .box-content .box .text p {
    font-size: 16px;
    letter-spacing: -0.8px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
  }
  
  #section-break .box-content .box .text .low {
    font-size: 12px;
    letter-spacing: -0.4px;
  }

}