@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');  

@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'), url(./assets/fonts/bebasneue-bold.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #001C1A;font-family: 'Poppins', sans-serif;
}

input, button, textarea {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  font-style: normal;
  text-decoration: none;
}

figure {
  display: contents;
}

.container {
  width: 90%;
  max-width: 1088px;
  margin: 0 auto;
}
